
    <div class="menu" style="grid-column: 1/3; z-index: 1; position: fixed; color: black; 
background-color: rgb(255, 255, 255); border-bottom: 5px solid #1d55a6; color: #1d55a6; top:0;  left: 0; right: 0;">
            <ul class="headerr" style="display: flex; flex-direction: row; text-align: space-between; align-items: center; justify-content: space-between; ">
                <li class="logo-container"><img id="logo_adapt" src="/assets/images/logo_new.png" alt="Logo"></li> 
                <b class="menu-items">
                  
                  
                  
                  <button class="but_1" [routerLink]="'catalog'" (click)="scrollToTop()"  style=" background-color: transparent !important; border: none;
                  box-shadow: none !important; font-family: 'Gotham Pro';">
                    <mat-icon style="font-size: 26px;">home</mat-icon>
                    <b>ГЛАВНАЯ</b>
                  </button>
                  <button class="but_1" [routerLink]="'catalog'"   style="display: none; background-color: transparent !important; border: none;
                  box-shadow: none !important; font-family: 'Gotham Pro'; " [matMenuTriggerFor]="category">
                    <mat-icon style="font-size: 26px;">view_list</mat-icon> 
                    <b>КАТАЛОГ</b>
                  </button>
                 <button class="but_1" [routerLink]="'favor'" style=" background-color: transparent !important; border: none;
                 box-shadow: none !important; font-family: 'Gotham Pro';">
                  <mat-icon style="font-size: 25px;">favorite</mat-icon>
                  <b>ИЗБРАННОЕ</b>
                </button>

                
                  
                  <button *ngIf="basket.length >= 0" class="but_1" [routerLink]="'basket'" style="position: relative; background-color: transparent !important; border: none;
                  box-shadow: none !important; font-family: 'Gotham Pro';">
                  <div>
                    <mat-icon style="font-size: 26px;">shopping_cart</mat-icon>

                    <div style="display: flex; flex-direction:row; align-items: center; position: absolute;
                    top: 10px; font-weight: bold;
                    left: 25px;
                    width: 17px;
                    height: 2px;
                    background-color: #f8af5b;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #1d55a6;
                    font-size: 14px;" *ngIf="basket.length > 0" class="red-indicator"> <div style="padding-left: 11px;">{{ basket.length }} </div></div>
                  
                    

                  <b>КОРЗИНА</b></div>
                  </button>
                
                

                <mat-menu #category="matMenu" style="z-index: 9999;">
               
                  <ng-container *ngFor="let item of categories" style="z-index: 9999;">
                    <button mat-menu-item style="z-index: 9999;" (click)="doFind_1(item.id)">{{ item.name }}</button>  
                  </ng-container>
                </mat-menu>
                <button class="but_1" [routerLink]="'profile'"  style="background-color: transparent !important; border: none;
                box-shadow: none !important; font-family: 'Gotham Pro';">
                <mat-icon style="font-size: 26px;">account_circle</mat-icon><b>ВОЙТИ</b></button></b>
                <div class="hamburger-menu">
                  <img class="hamburger-icon" src="/assets/images/gamburger.png" alt="Hamburger Icon">
                   </div>
            </ul>
        </div>
        
        <div class="popup-overlay">
          <div class="popup-overlay-in" style="border-color:#1d55a6; border-style: solid; border-width: 5px; border-radius: 15px;">
          <ul class="headerr menu" style="display: flex; flex-direction: column; text-align: center; align-items: center; justify-content:  center; line-height: 1.6;">
              <b>
              <li> <br><br><a class="v3" style="font-size: 4.1vw; font-family: 'Gotham Pro';" href="#">ГЛАВНАЯ</a></li> <br>
              <li><a class="v3" style="font-size: 4.1vw; font-family: 'Gotham Pro';" [matMenuTriggerFor]="category">КАТАЛОГ</a></li> <br>
                      <li><a class="v3" style="font-size: 4.1vw; font-family: 'Gotham Pro';" href="#main3_id">ИЗБРАННОЕ</a></li> <br>
                      <li><a class="v3" style="font-size: 4.1vw; font-family: 'Gotham Pro';" href="#main5_id">КОРЗИНА</a></li> <br>
                      <li><a class="v3" style="font-size: 4.1vw; font-family: 'Gotham Pro';" href="#contacts">ВОЙТИ</a></li> <br>
                      
                    </b>
              </ul>
          </div>
      </div>
        
<a class="up" href="#"><img src="/assets/images/up.jpg" alt="up"></a> 




<router-outlet></router-outlet>


  
<div  id="footer" style="margin-top: 50px; font-family: 'Gotham Pro'; font-size: 15px; background-color: #1e1e1e; color:rgb(255, 255, 255); grid-column: 1/3; display: flex; flex-direction: column; text-align: left; align-items: left; justify-content: left; line-height: 1.8;">
  <span id="footer_inn" style="line-height: 2.1;   text-transform: uppercase; padding-top: 65px; padding-bottom: 65px; ">
 <span style="color: rgb(98, 98, 98);"> COPYRIGHT © 2023-2024. ВСЕ ПРАВА <br>ЗАЩИЩЕНЫ ООО «ИИ Business Tech». <br></span>
 <span style="color: #1d55a6;">Мобильные приложения<br>
  Программы аналитики бизнеса <br>
  Искусственные нейронные сети <br>
  Системы с искусственным интеллектом <br>
  Системы видео и аудио контроля <br></span></span>
<div style="background-color: #1d55a6; height: 4px;">
</div>
</div>


