.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
  }
  
  table {
    width: 80%; 
    margin: auto; 
    border-collapse: collapse; 
  }
  
  td {
    text-align: center; 
    vertical-align: middle; 
    padding: 10px; 
  }