
    <div class="menu" style="grid-column: 1/3; position: fixed; z-index: 1; color: black; 
background-color: rgb(255, 255, 255); border-bottom: 5px solid #1d55a6; color: #1d55a6; top:0;  left: 0; right: 0;">
            <ul class="headerr" style="display: flex; flex-direction: row; text-align: space-between; align-items: center; justify-content: space-between; ">
                <li class="logo-container"><img id="logo_adapt" src="/assets/images/logo_new.png" alt="Logo"></li> 
                <b class="menu-items">
                  
                  
                  
                  <li> <a class="custom-button form439 form429" style="font-family: 'Gotham Pro'; border-radius: 5px;  line-height: 1.8; text-align: center;  font-size: 17px;  text-decoration: none;   text-transform: uppercase;  border-color:#1d55a6; border-style: solid; border-width: 2px; padding: 7px; padding-left: 10px; padding-right: 10px;" href="#">ГЛАВНАЯ</a></li>
                 <button class="custom-button form439 form429" style="font-family: 'Gotham Pro'; border-radius: 5px;  line-height: 1.8; text-align: center;  font-size: 17px;  text-decoration: none;   text-transform: uppercase;  border-color:#1d55a6; border-style: solid; border-width: 2px; padding: 7px; padding-left: 10px; padding-right: 3px; " [matMenuTriggerFor]="category"><b>Каталог</b></button>
                  <li><a class="custom-button form439 form429" style="font-family: 'Gotham Pro'; border-radius: 5px;  line-height: 1.8; text-align: center;  font-size: 17px;  text-decoration: none;   text-transform: uppercase;  border-color:#1d55a6; border-style: solid; border-width: 2px; padding: 7px; padding-left: 10px; padding-right: 10px;" href="#main3_id">ИЗБРАННОЕ</a></li>
                <li><a class="custom-button form439 form429" style="font-family: 'Gotham Pro'; border-radius: 5px;  line-height: 1.8; text-align: center;  font-size: 17px;  text-decoration: none;   text-transform: uppercase;  border-color:#1d55a6; border-style: solid; border-width: 2px; padding: 7px; padding-left: 10px; padding-right: 10px;" href="#main5_id">КОРЗИНА</a></li>
                

                <mat-menu #category="matMenu">
               
                  <ng-container *ngFor="let item of categories" >
                    <button mat-menu-item  (click)="doFind_1(item.id)">{{ item.name }}</button>  
                  </ng-container>
                </mat-menu>

                <li><a class="custom-button form439 form429" style="font-family: 'Gotham Pro'; border-radius: 5px;  line-height: 1.8; text-align: center;  font-size: 17px;  text-decoration: none;   text-transform: uppercase;  border-color:#1d55a6; border-style: solid; border-width: 2px; padding: 7px; padding-left: 10px; padding-right: 10px;" href="#calculation">ВОЙТИ</a></li></b>
                <div class="hamburger-menu">
                  <img class="hamburger-icon" src="/assets/images/gamburger.png" alt="Hamburger Icon">
                   </div>
            </ul>
        </div>
        
        <div class="popup-overlay">
          <div class="popup-overlay-in" style="border-color:#1d55a6; border-style: solid; border-width: 5px; border-radius: 15px;">
          <ul class="headerr menu" style="display: flex; flex-direction: column; text-align: center; align-items: center; justify-content:  center; line-height: 1.6;">
              <b>
              <li> <br><br><a class="v3" style="font-size: 4.1vw; font-family: 'Gotham Pro';" href="#">ГЛАВНАЯ</a></li> <br>
              <li><a class="v3" style="font-size: 4.1vw; font-family: 'Gotham Pro';" [matMenuTriggerFor]="category">Каталог</a></li> <br>
                      <li><a class="v3" style="font-size: 4.1vw; font-family: 'Gotham Pro';" href="#main3_id">ИЗБРАННОЕ</a></li> <br>
                      <li><a class="v3" style="font-size: 4.1vw; font-family: 'Gotham Pro';" href="#main5_id">КОРЗИНА</a></li> <br>
                      <li><a class="v3" style="font-size: 4.1vw; font-family: 'Gotham Pro';" href="#contacts">ВОЙТИ</a></li> <br>
                      </b>
              </ul>
          </div>
      </div>
        
<a class="up" href="#"><img src="/assets/images/up.jpg" alt="up"></a> 


<div class="search-bar-container">
<form style="margin-top: -40px; margin-left: 20px; position: fixed; z-index: 1;">
  <div style="display: flex; flex-direction: row; ">
    <button class="searchButton" style="cursor: pointer;   display: flex; flex-direction:column; text-align: center; align-items: center; justify-content: center; height: 42px; width: 15%;
      font-family: 'Gotham Pro';
    color: #fff; 
    border: none; padding-left: 20px; padding-right: 20px;
    border-radius: 5px; " (click)="doFind()">Поиск</button>
   <input id="finder" name="name" [(ngModel)] = "name" placeholder="Название товара" style="margin-left:1px; border-radius: 5px; border-color: rgba(78, 75, 75, 0.7); padding-left: 30px; padding-right: 385px; font-family: 'Gotham Pro'; font-size: 17px;" required/>
  </div>
  </form>
</div>



  <div class="products-grid" style="margin-top: 215px; font-family: 'Gotham Pro'; margin-left: 20px; margin-right: 20px;">
    <ng-container *ngFor="let product of products">
      <div class="product-card">
        <h2>{{ product.name }}</h2>
        <div class="product-info">
          <img class="product-image" [src]="product.category.get_small_image_url" [alt]="product.category.name">
          <h3>{{ product.category.name }}</h3>
        </div>
        <img [src]="product.get_small_image_url" [alt]="product.name">
        <div class="button-group">
          <button class="clickButton" type="button">НРАВИТСЯ</button>
          <button class="clickButton" type="button">КУПИТЬ</button>
        </div>
      </div>
    </ng-container>
  </div>
  
<div  id="footer" style="margin-top: 50px; font-family: 'Gotham Pro'; font-size: 15px; background-color: #1e1e1e; color:rgb(255, 255, 255); grid-column: 1/3; display: flex; flex-direction: column; text-align: left; align-items: left; justify-content: left; line-height: 1.8;">
  <span id="footer_inn" style="line-height: 2.1;   text-transform: uppercase; padding-top: 65px; padding-bottom: 65px; ">
 <span style="color: rgb(98, 98, 98);"> COPYRIGHT © 2023-2024. ВСЕ ПРАВА <br>ЗАЩИЩЕНЫ ООО «ИИ Business Tech». <br></span>
 <span style="color: #1d55a6;">Мобильные приложения<br>
  Программы аналитики бизнеса <br>
  Искусственные нейронные сети <br>
  Системы с искусственным интеллектом <br>
  Системы видео и аудио контроля <br></span></span>
<div style="background-color: #1d55a6; height: 4px;">
</div>
</div>

