<div style="color:#1d55a6; display: flex; flex-direction: row; justify-content: center; margin-top: 160px; font-family: 'Gotham Pro'; font-size: 30px;"><b style="border-radius: 10px; box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.1);">КОРЗИНА</b></div>
<div class="products-grid" style="margin-bottom: 360px; margin-top: 70px; font-family: 'Gotham Pro'; margin-left: 20px; margin-right: 20px;">
  <ng-container *ngFor="let productId of basket">
    <div class="product-card">
      <ng-container *ngIf="getProductById(productId) as product; else textTemplate">
        <h2 style="margin-left: 10px;">{{ product.name }}</h2>
        <div class="product-info">
          <img class="product-image" [src]="product.category.get_small_image_url" [alt]="product.category.name">
          <h3>{{ product.category.name }}</h3>
        </div>
        <img [src]="product.get_small_image_url" [alt]="product.name">

        <div class="button-group">
          <button (click)="doDelFromBasket(productId)" class="clickButton" type="button">УДАЛИТЬ ИЗ КОРЗИНЫ</button> </div>

        <div *ngFor="let subProduct of product.category?.products">
          <!-- Дополнительная информация о продуктах в категории -->
        </div>
      </ng-container>
      <ng-template #textTemplate>
        <p>This is not a valid product ID: {{ productId }}</p>
      </ng-template>
    </div>
  </ng-container>
</div>
