.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    align-items: end;
  }
  
  .product-card {
    text-align: center;
    vertical-align: bottom;
    
  }
  
  .product-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .product-image {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .product-card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Экраны шириной от 768px до 1023px - 3 карточки в строке */
@media (min-width: 768px) and (max-width: 1023px) {
    .products-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* Экраны шириной от 480px до 767px - 2 карточки в строке */
  @media (min-width: 480px) and (max-width: 767px) {
    .products-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Экраны шириной менее 480px - 1 карточка в строке */
  @media (max-width: 479px) {
    .products-grid {
      grid-template-columns: 1fr;
    }
  }

  .clickButton:hover {background-color: #a61d1d;}
    .clickButton {background-color: #ff0000; cursor: pointer;   display: flex; flex-direction:column; text-align: center; align-items: center; justify-content: center; height: 42px;
      font-family: 'Gotham Pro';
    color: #fff; 
    border: none; padding-left: 20px; padding-right: 20px;
    border-radius: 5px; margin: 8px; width:67%; height: 25px;}

    .clickButton_1:hover {background-color: #f8af5b;}
    .clickButton_1 {background-color: #1d55a6; cursor: pointer;   display: flex; flex-direction:column; text-align: center; align-items: center; justify-content: center; height: 42px;
      font-family: 'Gotham Pro';
    color: #fff; 
    border: none; padding-left: 20px; padding-right: 20px;
    border-radius: 5px; margin: 8px; width:47%; height: 25px;}

    .button-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .price-value {
        font-size: 21px;
        font-weight: 700;
        position: relative; /* Добавляем относительное позиционирование */
      }
      
      .with-line::before {
        content: '';
        position: absolute;
        width: 100%; /* Ширина линии на 100% от родительского контейнера */
        height: 2px; /* Высота линии */
        background-color: #ff6633; /* Красный цвет линии */
        top: 50%; /* Расположение по вертикали в центре */
        transform: translateY(-80%) rotate(-20deg); /* Наклон линии на 45 градусов */
      }
      
      .regular-price {
        text-align: right;
        margin-right: 65px;
      }
  
      .card_lab {
        padding: 4px 9px;
        position: absolute;
        bottom: 25px;
        left: 65px;
        background: #ff6633;
        border-radius: 4px;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
      }
  
    .card_top {
    flex: 0 0 220px;
    position: relative;
    overflow: hidden;}